@import url(../fonts/Roboto-Medium.ttf);
@import url(../fonts/Roboto-Regular.ttf);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #34547A;
  --primary-back-color: #EEEFF1;
  --secondary-back-color: #F9F9F9;
  --black-color: #000000;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #727272;
}

h1, h2, h3 {
  font-weight: 600;
}

.header {
  font-size: 32px;
  color: var(--black-color);

  margin-bottom: 50px;
}

.paragraph {
  line-height: 26.25px;
  text-align: center;
  text-indent: 19px;
}

.link {
  text-decoration: none;
}

.button {
  display: inline-block;
  text-align: center;

  border: none;
  background-color: var(--primary-color);

  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  padding: 20px;

  width: 190px;
}

.button:hover {
  background-color: #00D5E4;
  color: var(--primary-color);
}

/* first-screen */

.first-screen {
  background-color: var(--primary-back-color);
  padding: 57px 0 146px 0;
}

.first-screen-first-row {
  padding-bottom: 140px;
}

.link-logo {
  display: inline-block;
}

.first-screen-logo {
  width: 96px;
}

.menu-list {
  column-gap: 42px;
}

.menu-link {
  color: var(--black-color);
  letter-spacing: 0.1em;

}

.menu-link:hover {
  color: var(--primary-color);
}

.first-screen-image {
  max-width: 357px;
}

.first-screen-header {
  font-size: 48px;
  margin-bottom: 0px;
}

.first-screen-paragraph {
  line-height: 26.25px;
  max-width: 540px;
  margin: 60px 0;
}

/* about-me */

.about-me {
  background-color: var(secondary-back-color);
  height: 366px;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* numbers */

.numbers {
  background-color: #34547A;
  color: #FFFFFF;

  padding: 100px 0;
}

.numbers-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.numbers-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
}

.numbers-header {
  font-size: 21px;
}

.numbers-paragraph {
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* form */

.form {
  background-color: #EEEFF1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  margin-top: 100px;
}

.my-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;

  margin: 65px 0 100px 0;
}

.my-form-input {
  flex-grow: 1;

  background-color: #FFFFFF;
  border: none;

  padding: 18px 20px;

  color: #5F5D5D;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.my-form-input:invalid {
  background-color: rgb(248, 228, 228);
}

.input-message {
  width: 100%;
  resize: none;
}

.form-button {
  margin-top: 50px;
}

/* media */

@media screen and (max-width: 992px) {
  .numbers-row {
    display: flex;
    row-gap: 2em;
  }
}

@media screen and (max-width: 300px) {
  .header {
    font-size: 26px;
  }
}